.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    border-radius: 5px;
    color: white;
    background-color: #ff6060;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.icon {
    font-size: 30px;
    transition: transform 0.3s ease;
}

.iconOpen {
    transform: rotate(180deg);
}

.iconClosed {
    transform: rotate(0deg);
}

.description {
    color: black;
    overflow: hidden;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    transition: height 0.3s ease;
}
