.main {
    max-width: 1440px;
    margin: 0 auto;
}

.bannerContainer {
    height: 223px;
}

.reassuranceContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}
